/*gumroad share*/
span.apijoin-gumicon {
  height: 42px;
  line-height: 42px;
  width: 42px;
  color: #fff;
  background-color: rgba(0,0,0,0.1);
  margin-right: 14px;
  border-right: 1px solid rgba(0,0,0,0.05);
}

button.apijoin-gumsharebutton  {
  padding: 0 15px 0 0 !important;
  height: 42px !important;
  line-height: 42px !important;
  color: #fff !important;
  font-family: arial !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  border-radius: 5px !important;
  cursor: pointer !important;
  border: none !important;
}

button.button.button.apijoin-share-facebook, button.button.button.apijoin-share-facebook:hover {
  background: #3d5c96 linear-gradient(to bottom, #3e5e9a, #385489);
}

button.button.button.apijoin-share-twitter, button.button.button.apijoin-share-twitter:hover {
  background: #55acee linear-gradient(to bottom, #5aaeee, #45a4ec)
}

